{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "plugins": ["async-await"],
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 1,
        "async-await/space-after-async": 2,
        "async-await/space-after-await": 2
    },
    "globals": {
        "URLSearchParams": false,
        "browser": false
    }
}
