a, [data-link] {
	color: var(--feed-color, inherit);
	font-family: var(--feed-font, inherit);
	font-size: var(--feed-size, inherit);
	text-decoration: inherit;
	cursor: pointer;
}
.fade-in {
	animation: fade-in 400ms;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateX(-3em);
	}
}
